<h2>{{ tab.title }}</h2>
{% block content %}
    {% autoescape off %}{{ tab.content }}{% endautoescape %}
   <ul class="list-inline">
    <li class="contact-link">
            <a target="_blank" href="https://github.com/smolinska" class="btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
    <li class="contact-link">
            <a target="_blank" href="https://www.linkedin.com/in/smolinska/" class="btn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
        </li>
    </ul>
{% endblock %}
