<h2>{{ tab.title }}</h2>
<h4>HTML5, Bootstrap</h4>
<div class="myProgress">
  <div id="bootstrap" class="myBar"></div>
</div>

<h4>CSS3</h4>
<div class="myProgress">
  <div id="css" class="myBar"></div>
</div>

<h4>JS, jQuery</h4>
<div class="myProgress">
  <div id="js" class="myBar"></div>
</div>

<h4>AngularJS</h4>
<div class="myProgress">
  <div id="angular" class="myBar"></div>
</div>

<h4>Node.js, Express, MongoDB</h4>
<div class="myProgress">
  <div id="node" class="myBar"></div>
</div>

<h4>Gulp</h4>
<div class="myProgress">
  <div id="gulp" class="myBar"></div>
</div>

<h4>SQL</h4>
<div class="myProgress">
  <div id="sql" class="myBar"></div>
</div>

<h4>Linux, Git</h4>
<div class="myProgress">
  <div id="linux" class="myBar"></div>
</div>

<h4>Design</h4>
<div class="myProgress">
  <div id="design" class="myBar"></div>
</div>

<h4>GIMP, Inkscape, CorelDRAW</h4>
<div class="myProgress">
  <div id="gimp" class="myBar"></div>
</div>