<h2>{{ tab.title }}</h2>
<h4>Angular 4, Angular Material, Protractor</h4>
<div class="myProgress">
  <div id="angular" class="myBar"></div>
</div>

<h4>AngularJS, Ionic</h4>
<div class="myProgress">
  <div id="angularjs" class="myBar"></div>
</div>

<h4>React, React Native</h4>
<div class="myProgress">
  <div id="react" class="myBar"></div>
</div>

<h4>Python, Django</h4>
<div class="myProgress">
  <div id="python" class="myBar"></div>
</div>

<h4>Node.js, Express, MongoDB, SQL</h4>
<div class="myProgress">
  <div id="node" class="myBar"></div>
</div>

<h4>Amazon S3, Firebase</h4>
<div class="myProgress">
  <div id="amazon" class="myBar"></div>
</div>

<h4>Linux, Git, Nginx, Docker</h4>
<div class="myProgress">
  <div id="linux" class="myBar"></div>
</div>

<h4>Design</h4>
<div class="myProgress">
  <div id="design" class="myBar"></div>
</div>
