{% load static %}
<div class="row row-content">
    <div id="main-content">
        <ul class="cb-slideshow">

            <li>
                <span>PAULINA SMOLIŃSKA</span>
                <div>
                    <h4>Me.</h4>
                    <h3>Rising web developer.</h3>
                </div>
            </li>
            <li>
                <span>PAULINA SMOLIŃSKA</span>
                <div>
                    <h4>Myself.</h4>
                    <h3>Designer.</h3>
                </div>
            </li>
            <li>
                <span>PAULINA SMOLIŃSKA</span>
                <div>
                    <h4>I.</h4>
                    <h3>JavaScript enthusiast.</h3>
                </div>
            </li>
        </ul>
        {% for tab in tabs %}
            <div class="section-wrapper">
                <section id="{{ tab.slug }}" class="content-section text-center">
                <div class="section-bg"></div>
                <div class="container">
                    <div class="col-lg-12">
                        {% include tab.template with tab=tab %}
                    </div>
                </div>
            </section>
            </div>
        {% endfor %}
    </div>

    <div class="footer"></div>
</div>