{% extends 'main.html' %}
{% load staticfiles %}
{% block prod_style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
{% endblock %}

{% block dev_style %}
    <link rel="stylesheet" href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "lib/font-awesome/css/font-awesome.css" %}">
{% endblock %}

{% block own_style %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/general.scss" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/sections.scss" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/header.scss" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/content.scss" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/responsive.scss" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/cb-slideshow.scss" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/ali-popover.scss" %}">
{% endblock %}

{% block content %}
    <div id="top" class="container-fluid">
        {% include 'nav.html' %}
        {% include 'content.html' %}
    </div>
{% endblock %}

{% block prod_scripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script><!-- Tether -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
{% endblock %}

{% block dev_scripts %}
    <script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'lib/jquery-migrate/jquery-migrate.js' %}"></script>
    <script src="{% static "lib/tether/dist/js/tether.js" %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
{% endblock %}

{% block own_scripts %}
    <script type="text/javascript" src="{% static "js/scrollfire-nav.js" %}"></script>
    <script type="text/javascript" src="{% static 'lib/lightgallery/dist/js/lightgallery.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/lg-thumbnail/dist/lg-thumbnail.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery-stickytabs/jquery.stickytabs.js' %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.scrollfire.js" %}"></script>


    <script type="text/javascript" src="{% static "js/preventScrollRemember.js" %}"></script>
    <script type="text/coffeescript" src="{% static "js/sections.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/utils/nospam.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/utils/utils.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/utils/ajaxTabs.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "js/main.coffee" %}"></script>
{% endblock %}