{% load staticfiles %}
<nav class="navbar navbar-toggleable-md fixed-top py-0">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true" style="color: #ffe5e5"></i>
    </button>
    <a class="navbar-brand pl-4 logo page-scroll" href="#">Paulina Smolińska</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            {% for tab in tabs %}
                <li class="nav-item">
                    <a href="#{{ tab.slug }}" class="page-scroll nav-link px-4" aria-controls="{{ tab.slug }}"
                       data-toggle="tab" data-type="{{ tab.type }}">
                        {{ tab.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
