@import "static/lib/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables";

$time_for_each_img: 6s;
$images_count: 3;
$images_path: '../img/0';
$animation_time: $images_count * $time_for_each_img;

.cb-slideshow, .cb-slideshow:after {
  z-index: 160;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cb-slideshow span:after {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  background: url('../img/pattern.png') repeat top left;
  width: 100%;
    height: 100%;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  z-index: 0;
}

.cb-slideshow li {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  animation: imageAnimation $animation_time linear infinite 0s;
}

.cb-slideshow li div {
  z-index: 1000;
  text-align: center;
  color: #ffe7ee;
}

.cb-slideshow li div h4 {
  font-weight: 600;
  letter-spacing: 15px;
  font-size: 60px !important;
  padding: 0;
  //line-height: 500px;
  text-shadow: 2px 2px 10px rgb(42, 42, 42);
  //line-height: 50vh;
}

.cb-slideshow li div h3 {
  font-weight: 600;
  letter-spacing: 15px;
  font-size: 40px !important;
  padding: 0;
  //line-height: 500px;
  text-shadow: 2px 2px 10px rgb(42, 42, 42);
  //line-height: 30vh;
}


.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}


@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 30px;
  }
}


@for $i from 1 through $images_count {
  .cb-slideshow li:nth-child(#{$i}) {
    animation-delay: ($i - 1) * $time_for_each_img;
    span {
      @media (max-width: $screen-xs-max) {
        background-image: url(#{$images_path}#{$i}_xs.jpg);
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        background-image: url(#{$images_path}#{$i}_md.jpg);
      }
      @media (min-width: $screen-lg-min) {
        background-image: url(#{$images_path}#{$i}.jpg);
      }
    }
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  //animation LOADING time
  #{100%*$time_for_each_img/4/$animation_time} {
    opacity: 1;
  }
  //animation IN time
  #{300%*$time_for_each_img/4/$animation_time} {
    opacity: 1;
  }
  //animation OUTING time
  #{100%*$time_for_each_img/$animation_time} {
    opacity: 0;
  }
  //animation OFF
  100% {
    opacity: 0;
  }
}
