@import "variables";

#main-content {
  margin-top: $navbarHeight;
}

.counter-row b {
  opacity: 0;
}

section{
  opacity: 0;
  transform: translateX(-250px);
  transition: opacity 1.5s ease, transform 0.8s ease-out;
  &.loaded{
    opacity: 1;
    transform: translateY(0);
  }
}

