@import "variables";

nav.navbar {
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  text-transform: uppercase;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: rgba(249, 225, 232, 0.65);
  li > a {
    transition: all 0.6s ease;
    color: $textColor;
    font-size: 1.1em;
    line-height: $navbarHeight;
    text-shadow: 2px 2px 5px rgba(89, 0, 61, 0.92);
    text-align: right; //align for hamburger
    &:hover, &.active {
      background-color: $mainColor;
    }
  }
}

.logo {
  text-shadow: -1px -1px 2px rgba(163, 130, 159, 0.92);
  font-weight: bolder;
  font-size: 1.8em;
  line-height: $navbarHeight;
  &:hover, &:focus {
    color: $mainColor;
  }
}

.navbar-toggler {
  color: $textColor;
  font-size: 1.4em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  line-height: $navbarHeight;
}