@import "variables";


.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav.navbar {
  margin-bottom: 0;
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  text-transform: uppercase;
  font-weight: bold;
  border-bottom-color: lightgray;

  li {
    transition: all 0.6s ease;
    &:hover, &.active {
      background-color: $mainColor;
      & > a {
        background-color: transparent !important;
        text-shadow: 2px 2px 5px rgba(89, 0, 61, 0.92);
      }
    }

    & > a {
      color: #ffdceb;
      font-size: 1.1em;
      line-height: $navbarHeight;
      padding: 0 30px;
    }
  }
}

.logo {
  color: darken($mainColor, 50%);
  line-height: $navbarHeight;
  padding-left: 30px;
  padding-right: 30px;
}