// Some things can be customized, look here: http://sachinchoolur.github.io/lightGallery/docs/api.html#sass
$backdrop-opacity: 0.8;

$lg-path-fonts: "/static/lib/lightgallery/src/fonts";
$lg-path-images: "/static/lib/lightgallery/src/img";

@import "static/lib/lightgallery/src/sass/lightgallery";