@import "variables";

.content-section {
  padding: 100px 0;
}

.section {
  z-index: 150;
  position: relative;
}

.section-wrapper {

  color: #ffccef;
  display: flex;
  padding: 0 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-wrapper:nth-child(odd) {
  background-color: $mainColor;
}

.section-wrapper:nth-child(even) {
  background-color: $darkColor;
}

.photo-row {
  height: 50vh;
  overflow: hidden;

  z-index: 160;
  position: relative;
  &:after {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background: url('../img/pattern.png') repeat top left;
    height: 100%;
    width: 100%;

  }
}
