@import "variables";

.content-section {
  padding: 150px 0;
}

.section {
  z-index: 150;
  position: relative;
}

.section-wrapper {
  color: #ffccef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-wrapper:nth-child(odd) {
  background-color: $mainColor;
}

.section-wrapper:nth-child(even) {
  background-color: $darkColor;
}

.photo-row {
  height: 50vh;
  overflow: hidden;

  z-index: 160;
  position: relative;
  &:after {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background: url('../img/pattern.png') repeat top left;
    height: 100%;
    width: 100%;
  }
}

//PROJECTS
.projects {
  width: 100%;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  text-align: left;
  outline: solid;
  outline-width: 1px;
  outline-color: rgba(249, 225, 232, 0.65);
  outline-offset: 15px;
  h3 {
    font-weight: bold;
  }
}

.project-img {
  width: 100%;
}

//CONTACT
.contact-link{
  list-style-type: none;
  a {
    color: $textColor;
    font-size: 1.2em;
  }
}

#cv-wrapper {
  background-image: url("../img/bg-cv.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}