@import "variables";

#my-skills h4 {
    padding-top: 20px;
}

.myProgress {
    width: 100%;
    background-color: transparentize($textColor, 0.6);
}

.myBar {
    height: 15px;
    background-color: $mainColor;
}

#angular {
    width: 45%;
}

#angularjs {
    width: 30%;
}

#react {
    width: 10%;
}

#python {
    width: 40%;
}

#node {
    width: 10%;
}

#amazon {
    width: 15%;
}

#linux {
    width: 30%;
}

#design {
    width: 50%;
}
