/* -- variebles.scss --
 this file is parsed by django and vars stored here are available in JS by window.SCSS_VARS
 */

/******* COLORS  *******/
$textColor: black;
$mainColor: darkred;

/******* DIIMENSIONS  *******/
$footerHeight: 0px;
$navbarHeight: 55px;
