/* -- variebles.scss --
 this file is parsed by django and vars stored here are available in JS by window.SCSS_VARS
 */

/******* COLORS  *******/
$textColor: #ffe7ee;
$mainColor: #8b0066;
$darkColor: #141414;

/******* DIIMENSIONS  *******/
$footerHeight: 0;
$navbarHeight: 65px;
